*, *::before, *::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	background-color: gray;
	font-family: 'Verdana', arial, sans-serif;
}
img {
	display: block;
	width: 100%;
	cursor: pointer;
}

h1, h3 {
	text-transform: uppercase;
}
	
.main {
	width: 1130px;
	margin: 0 auto;
	display: flex;
	}


/* ЛЕВАЯ КОЛОНКА */

.block__left {
	height: 760px;
	background-color: #0A3542;
	color: #FFF;
}

.block__left-info {
	padding-top: 55px;
	padding-left: 50px;
}

.block__left-title {
	border-bottom-style: solid;
	padding-bottom: 5px;
	width: 250px;
	border-width: 1px;
	padding-top: 40px; 
	}

.font {
	font-size: 13px;
	}

.link__left {
	color: white;
}

a {
	text-decoration: none;
	}

a:hover { 
	color: red; 
	}

.block__hobbies {
	padding-left: 15px;
	}


/* ПРАВАЯ КОЛОНКА */

.col__right {                 
	background-color: white; 
	color: #0A3542; 
	width: 780px;
	
	}

.block__right-info {
	padding-left: 10px;
	padding-right: 40px;
	}

.block__right-title {
	border-bottom-style: solid;
	padding-bottom: 5px;
	width: 680px;
	border-width: 2px;
	padding-top: 40px; 
	margin-left: 40px;
	}

.block__right-p {
	padding-left: 40px;
	}

.block__right-a {
	color: #0A3542;
	}

.block__right-li {
	margin-left: 20px;
	}

 .education-li {
	padding-top: 10px;
	padding-bottom: 5px;
 }