*, *::before, *::after {
	box-sizing: border-box;
	}

body {
	height: 100%;
	margin: 0;
	background-color: gray;
	font-family: 'Verdana', arial, sans-serif;
	}

img {
	display: block;
	width: 100%;
	cursor: pointer;
	}

h1, h3 {
	margin: 0;
	text-transform: uppercase;
	}
	
.header {
	width: 1130px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background: #0b8fb8;
	color: #D9DBE1;
	}

.header-title {
	margin: 0;
	padding-left: 40px;
	}

.main {
	width: 1130px;
	margin: 0 auto;
	display: flex;
	}


/* ЛЕВАЯ КОЛОНКА */

.col__left {
	width: 350px;
	}

.figure {
	margin: 0;
	}	

.block__left {
	background-color: #0A3542;
	color: #FFF;
	}

.block__left-info {
	padding-left: 40px;
	padding-right: 50px;
	padding-bottom: 50px;
	}

.block__left-title {
	border-bottom-style: solid;
	width: 260px;
	border-width: 1px;
	
	padding-top: 50px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	}

.block__left-list {
	margin: 0px;
	padding-left: 15px;
}

.contact-item {
	margin: 0;
	padding-bottom: 5px;
}

.link__left {
	color: white;
	}

a {
	text-decoration: none;
	}
a:hover { 
	color: #0b8fb8;
	}

.block__left-portfolio {
	margin: 0;
}


/* ПРАВАЯ КОЛОНКА */

.col__right {
	width: 780px;    
	background-color: white;
	color: #0A3542;
	}

.block__right-info {
	padding-left: 40px;
	padding-right: 60px;
	}

.name {
	padding-top: 60px;
	}

.block__right-title {
	border-bottom-style: solid;
	width: 680px;
	border-width: 2px;

	margin-bottom: 20px;
	padding-top: 50px;
	padding-bottom: 5px;
	}

.summary-text {
	margin: 0;
	}

.education-list {
	margin: 0;
	padding-left: 15px;
	}

.education-item {
	margin: 0;
	padding-top: 5px;
	}

.course-text {
	margin: 0;
	}

.experience-text {
	margin: 0;
	}

.experience-link {
	color: #0A3542;
	}

.english-text {
	margin: 0;
	}


/* FOOTER */

 .footer {
	width: 1130px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background: #0b8fb8;
	color: #D9DBE1;
	}

.footer-container {
	width: 1030px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.footer-copyright {
	font-size: 14px;
	}

.footer-socials-item {
	padding-left: 16px;
	}

.footer-svg {
	display: inline;
	width: 40px;
	height: 40px;
	transition: 0.8s;
	}

.footer-svg:hover {
	transform: scale(1.2);
	}

.footer-rs-svg {
	display: inline;
	width: 80px;
	height: 40px;
	transition: 0.8s;
	}

.footer-rs-svg:hover {
	transform: scale(1.2);
	}
